body{
	background-image: url(background.jpg.jpg);
	background-size:cover;
}

div{
	border: 2px solid white;
	position: absolute;
	width: 300px;
	left: 450px;
	top: 200px;


}

form{
	margin: 5px;
}