body{
	background-image: url(header.jpg.jpg);
	background-size: cover;
}

h1{
    text-align:left;
	color: white;
	position:absolute;
	width: 700px;
	left: 350px;
	top: 250px;

}
a{
	text-decoration: none;
}
.btn{
	background-color: red;
	color: white;
	position: absolute;
    width: 200px;
	left: 600px;
	top: 550px;
	cursor: pointer;
	border-radius: 60%;
    padding: 10px 20px;
	transition: all 1s;
}
.btn:hover{
     transform: scale(1.1);
}